.fab {
    width: 50px;
    height: 50px;
    background-color: #00796B;
    border-radius: 50%;
    box-shadow: 0 6px 10px 0 #666;
    transition: all 0.1s ease-in-out;
    font-size: 30px;
    color: white;
    text-align: center;
    line-height: 50px;
    position: fixed;
    right: 30px;
    bottom: 50px;
    z-index: 999;
}

.fab:hover {
    box-shadow: 0 6px 14px 0 #666;
    transform: scale(1.05);
}