.shepherd-button {
    background: #3288e6;
    border: 0;
    border-radius: 3px;
    color: hsla(0, 0%, 100%, .75);
    cursor: pointer;
    margin-right: .5rem;
    padding: .5rem 1.5rem;
    transition: all .5s ease
}

.shepherd-button:not(:disabled):hover {
    background: #196fcc;
    color: hsla(0, 0%, 100%, .75)
}

.shepherd-button.shepherd-button-secondary {
    background: #f1f2f3;
    color: rgba(0, 0, 0, .75)
}

.shepherd-button.shepherd-button-secondary:not(:disabled):hover {
    background: #d6d9db;
    color: rgba(0, 0, 0, .75)
}

.shepherd-button:disabled {
    cursor: not-allowed
}

.shepherd-footer {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    display: flex;
    justify-content: flex-end;
    padding: 0 .75rem .75rem
}

.shepherd-footer .shepherd-button:last-child {
    margin-right: 0
}

.shepherd-cancel-icon {
    background: transparent;
    border: none;
    color: hsla(0, 0%, 50.2%, .75);
    cursor: pointer;
    font-size: 2em;
    font-weight: 400;
    margin: 0;
    padding: 0;
    transition: color .5s ease
}

.shepherd-cancel-icon:hover {
    color: rgba(0, 0, 0, .75)
}

.shepherd-has-title .shepherd-content .shepherd-cancel-icon {
    color: hsla(0, 0%, 50.2%, .75)
}

.shepherd-has-title .shepherd-content .shepherd-cancel-icon:hover {
    color: rgba(0, 0, 0, .75)
}

.shepherd-title {
    color: rgba(0, 0, 0, .75);
    display: flex;
    flex: 1 0 auto;
    font-size: 1rem;
    font-weight: 400;
    margin: 0;
    padding: 0
}

.shepherd-header {
    align-items: center;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    display: flex;
    justify-content: flex-end;
    line-height: 2em;
    padding: .75rem .75rem 0
}

.shepherd-has-title .shepherd-content .shepherd-header {
    background: #e6e6e6;
    padding: 1em
}

.shepherd-text {
    color: rgba(0, 0, 0, .75);
    font-size: 1rem;
    line-height: 1.3em;
    padding: .75em
}

.shepherd-text p {
    margin-top: 0
}

.shepherd-text p:last-child {
    margin-bottom: 0
}

.shepherd-content {
    border-radius: 5px;
    outline: none;
    padding: 0
}

.shepherd-element {
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, .2);
    max-width: 400px;
    opacity: 0;
    outline: none;
    transition: opacity .3s, visibility .3s;
    visibility: hidden;
    width: 100%;
    z-index: 9999;
}

.shepherd-enabled.shepherd-element {
    opacity: 1;
    visibility: visible
}

.shepherd-element[data-popper-reference-hidden]:not(.shepherd-centered) {
    opacity: 0;
    pointer-events: none;
    visibility: hidden
}

.shepherd-element,
.shepherd-element *,
.shepherd-element :after,
.shepherd-element :before {
    box-sizing: border-box
}

.shepherd-arrow,
.shepherd-arrow:before {
    height: 16px;
    position: absolute;
    width: 16px;
    z-index: -1
}

.shepherd-arrow:before {
    background: #fff;
    content: "";
    transform: rotate(45deg)
}

.shepherd-element.shepherd-centered>.shepherd-arrow {
    opacity: 0
}

.shepherd-element.shepherd-has-title[data-popper-placement^=bottom]>.shepherd-arrow:before {
    background-color: #e6e6e6
}

.shepherd-target-click-disabled.shepherd-enabled.shepherd-target,
.shepherd-target-click-disabled.shepherd-enabled.shepherd-target * {
    pointer-events: none
}

.shepherd-modal-overlay-container {
    height: 0;
    left: 0;
    opacity: 0;
    overflow: hidden;
    pointer-events: none;
    position: fixed;
    top: 0;
    transition: all .3s ease-out, height 0ms .3s, opacity .3s 0ms;
    width: 100vw;
    z-index: 9997
}

.shepherd-modal-overlay-container.shepherd-modal-is-visible {
    height: 100vh;
    opacity: .5;
    transition: all .3s ease-out, height 0s 0s, opacity .3s 0s
}

.shepherd-modal-overlay-container.shepherd-modal-is-visible path {
    pointer-events: all
}

.shepherd-button {
    background: #ffffff;
    border-top: solid 4px #4c5258;
    border-radius: 0;
    color: #16202D;
    display: flex;
    flex-grow: 1;
    font-family: "GT Pressura", sans-serif;
    font-size: 1rem;
    justify-content: center;
    margin: 0;
    padding: 1rem;
    text-align: center;
    text-transform: uppercase;
}

.shepherd-button:hover {
    background: #16202D;
    color: #ffffff;
}

.shepherd-button.shepherd-button-secondary {
    background: #CAD5D5;
}

.shepherd-button.shepherd-button-secondary:hover {
    color: #CAD5D5;
    background: #16202D;
}

.shepherd-cancel-icon {
    font-family: "GT Pressura", sans-serif;
}

.shepherd-element {
    border: solid 4px #16202D;
}

.shepherd-element,
.shepherd-header,
.shepherd-footer {
    border-radius: 0;
}

.shepherd-element .shepherd-arrow {
    border-width: 0;
    height: auto;
    width: auto;
}

.shepherd-arrow::before {
    display: none;
}

.shepherd-element .shepherd-arrow:after {
    content: url('./arrow.svg');
    display: inline-block;
}

.shepherd-element[data-popper-placement^='top'] .shepherd-arrow,
.shepherd-element.shepherd-pinned-top .shepherd-arrow {
    bottom: -20px;
}

.shepherd-element[data-popper-placement^='top'] .shepherd-arrow:after,
.shepherd-element.shepherd-pinned-top .shepherd-arrow:after {
    transform: rotate(270deg);
}

.shepherd-element[data-popper-placement^='bottom'] .shepherd-arrow {
    top: -20px;
}

.shepherd-element[data-popper-placement^='bottom'] .shepherd-arrow:after {
    transform: rotate(90deg);
}

.shepherd-element[data-popper-placement^='left'] .shepherd-arrow,
.shepherd-element.shepherd-pinned-left .shepherd-arrow {
    right: -12px;
}

.shepherd-element[data-popper-placement^='left'] .shepherd-arrow:after,
.shepherd-element.shepherd-pinned-left .shepherd-arrow:after {
    transform: rotate(180deg);
}

.shepherd-element[data-popper-placement^='right'] .shepherd-arrow,
.shepherd-element.shepherd-pinned-right .shepherd-arrow {
    left: -12px;
}

.shepherd-footer {
    padding: 0;
}

.shepherd-footer button:not(:last-of-type) {
    border-right: solid 4px #16202D;
}

.shepherd-has-title .shepherd-content .shepherd-cancel-icon {
    margin-top: -7px;
}

.shepherd-has-title .shepherd-content .shepherd-header {
    background: transparent;
    font-family: "GT Pressura", sans-serif;
    padding-bottom: 0;
    padding-left: 2rem;
}

.shepherd-has-title .shepherd-content .shepherd-header .shepherd-title {
    font-size: 1.2rem;
    text-transform: uppercase;
}

.shepherd-text {
    font-size: 1.2rem;
    padding: 2rem;
}

.shepherd-text a,
.shepherd-text a:visited,
.shepherd-text a:active {
    border-bottom: 1px dotted;
    border-bottom-color: rgba(0, 0, 0, 0.75);
    color: rgba(0, 0, 0, 0.75);
    text-decoration: none;
}

.shepherd-text a:hover,
.shepherd-text a:visited:hover,
.shepherd-text a:active:hover {
    border-bottom-style: solid;
}

.shepherd-element[data-popper-placement^=top] {
    margin-bottom: 10px !important;
}

.shepherd-element[data-popper-placement^=bottom] {
    margin-top: 10px !important;
}